<!--[if lt IE 8]> 
    <div class="browsehappy" role="dialog"> 
        当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。 
    </div> 
    <![endif]-->
    <header id="header" class="header bg-white">
        <div class="navbar-container">
            <a href="{{ .Site.BaseURL }}" class="navbar-logo" style="color: #5f5f5f">{{ .Site.Title }}</a>
            <div class="navbar-menu">
            {{ range .Site.Menus.main }}
                <a href="{{ .URL }}">{{ .Name }}</a>  
            {{end}}
            </div>
            <!-- <a href="https://www.linpx.com/search.html" class="navbar-search"> <span class="icon-search"></span> </a> -->
            <div class="navbar-mobile-menu" onclick=""> 
                <span class="icon-menu cross"><span class="middle"></span></span>
                <ul>
                {{ range .Site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li> 
                {{end}}
                </ul>
            </div>
        </div>
    </header>